{% extends 'index.html' %}

{% block content %}
    {% if login and password %}
        <div id="profile_box">
            {% for message in get_flashed_messages() %}
                <h1>{{ message }}</h1>
            {% endfor %}
            <h2>Login is {{ login }}</h2>
            <h2>Password is {{ password }}</h2>
        </div>
    {% else %} 
        <div id="profile_login">
            <form method="POST" autocomplete="off">
                {{ form.hidden_tag() }}
                <h1>Log in to your profile</h1>
                {{ form.login(class="_not_button", placeholder="Login") }}
                {{ form.password(class="_not_button", placeholder="Password")}}
                {{ form.submit_to(class="_button", value="Proceed", id="log_in")}}
                <a href="{{ url_for('register') }}">&#62;No Account?</a>
            </form>
        </div>
    {% endif %}
{% endblock %}}